<div
  class="container p-3 cardList rounded-5 shadow-lg d-flex justify-content-center gap-3 flex-wrap mt-4"
>
  @for (item of processors; track $index) {
  <app-processor-card
    [processor]="item"
    (Delete)="delete($event)"
    (Edit)="edit($event)"
  ></app-processor-card>
  }
</div>
@if(processorToEdit != undefined){
<app-processor-edit
  [processor]="processorToEdit"
  (save)="save($any($event))"
  (cancel)="cancel()"
/>
}

<button
  class="btn btn-danger mt-3 position-fixed bottom-0 end-0 m-5 rounded-pill"
  style="height: 50px; width: 150px"
  (click)="add()"
>
  Hozzáadás
</button>
